django==2.2.8

#Bootstrap Italia + Unical template
git+https://github.com/italia/design-django-theme.git
git+https://github.com/UniversitaDellaCalabria/django-unical-agid-template.git

# SASS dynamic compiler
libsass
django_sass_processor
