<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base-setup.html' %}

{% load static %}

{% block extra_head %}
{{ block.super }}
{% block pre_ds_head %}{% endblock pre_ds_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/unical_ds.css' %}" />
{% block after_ds_head %}{% endblock after_ds_head %}
{% endblock extra_head %}

{% block header_slim_right_zone %}
{% endblock header_slim_right_zone %}

{% block header_center_search %}
{% endblock header_center_search %}

{% block header_center_social %}
{% endblock %}

{% block menu_links %}
    {% include 'main_menu.html' %}
{% endblock menu_links %}

{% block footer_menu_section %}
{% endblock footer_menu_section %}
