import os

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'rz82a_#y1#s=l+######_4xslwchu%yxtpdf)h7b$6kn+p+###'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
HOSTNAME = ''
ALLOWED_HOSTS = ['localhost',
                 HOSTNAME]
EMAIL_SENDER = 'no-reply@{}'.format(HOSTNAME)

# Database
# https://docs.djangoproject.com/en/2.2/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

# needed to have debug var in template context
INTERNAL_IPS = (
    '127.0.0.1',
)
